body {
    background-color: rgb(197, 197, 197);
}

.active {
    background-color: #0486ff !important;
}

.section {
    display: flex;
    flex-direction: column;
    margin: 50px auto 20px;
    width: 30%;
    row-gap: 10px;

    input {
        padding: 10px 15px;
        background-color: rgb(255, 255, 255);
        font-size: 25px;
        border-radius: 10px;
        outline: none;
        border: none;
    }
    button {
        padding: 10px 15px;
        border-radius: 10px;
    }

}
.list {
    ul {
        list-style: none;
        background-color: #0486ff;
        padding: 20px;
        border-radius: 15px;
    }
}